<!DOCTYPE html>
<html lang="en">
<head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width= <"nav class=" "navbar navbar-expand-lg bg-body-tertiary">
    <title>App Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
   
</head>
<body>
    <h1>Análisis predictivos</h1>
    <p>Los modelos de análisis predictivo basados en el aprendizaje supervisado ayudan a las empresas a anticipar resultados y a tomar decisiones estratégicas.  Esto les permite justificar sus elecciones y adaptar sus estrategias para el beneficio de la organización.
    En el ámbito de la salud, la regresión es una herramienta clave para predecir resultados clínicos. Por ejemplo, un modelo predictivo puede evaluar el riesgo de un paciente de desarrollar una enfermedad basándose en sus datos biológicos e historial médico.</p>
</body>
</html>