<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/apa.css">
    <title>Conceptos basicos</title>
  
</head>
<body>
    <h1>Regresión logística</h1>
    <p>Es la probabilidad de que ocurra o no un evento, en función de un conjunto de datos con variables independientes. Este modelo se utiliza a menudo para el análisis y clasificación predictiva. Dado que la variable dependiente se encuentra entre 0 y 1. Esta también es conocida como logaritmo de probabilidad o logaritmo natural de probabilidad.</p>
    <h1>Regresion logística vs regresión lineal:</h1>
    <p>Ambas son modelos populares dentro de la ciencia de datos, y herramientas de código abierto, como lo son Python y R, lo cual hace que el calculo sea mas sencillo y rápido. 
    Los modelos de regresión lineal son utilizados mayormente para identificar la relación entre un a variable dependiente y una o mas variables independientes, cuando solo se tiene una variable dependiente y una independiente se conoce como regresión lineal simple, pero a medida que las variables independientes se conoce como regresión lineal multiple, cada tipo de regresión lineal busca trazar una línea con mejor ajuste a través de un conjunto de puntos de datos.
    La regresión logística también es utilizada para estimar la relación entre una variable dependiente y una o mas variables independientes, pero con la diferencia de que esta es utilizada para hacer una predicción sobre una variable categórica frente a una continua. La variable categórica puede ser verdadera o falsa, si o no, 1 o 0.
    </p>
    <h1>Tipos de regresión logística:</h1>
    <p>•	Regresión logística binaria: en este caso la variable dependiente tiene solo dos resultados posibles como por ejemplo 1 o 0, como lo son las predicciones de si un correo electrónico es spam o no. </p>
    <p>	Regresión logística multinomial: en este caso la variable dependiente tiene tres o mas resultados posibles, pero estos no tienen un orden especifico. Este tipo de regresión puede ayudar a determinar la fuerza de influencia.</p>
    <p>

    •	Regresión logística ordinal: es utilizado cuando la variable de respuesta tiene mas de tres resultados posibles, pero en este caso tiene un orden especifico.
    </p>
    <h1>Regresión logística y machine learning:</h1>
    <p>Dentro del ML la regresión logística pertenece a los modelos de ML supervisado, también se considera un modelo discriminativo, puesto que busca distinguir entre clases o categorías. 
    La regresión logística puede ser propensa a un sobreajuste, normalmente cuando se tiene una gran cantidad de variables predictivas dentro del modelo.
    </p>
    <h1>Casos de regresión logística:</h1>
    <p>•	Detección de fraudes: Las instituciones financieras y empresas de SaaS usan la regresión logística para identificar comportamientos o características anómalas que indican una alta probabilidad de fraude o de la creación de cuentas falsas. Esto ayuda a proteger tanto a los clientes como a la integridad de los datos de negocio.</p>
    <p>
    •	Predicción de enfermedades: En el sector de la salud, este modelo se usa para predecir la probabilidad de que un individuo desarrolle una enfermedad. Al identificar a las personas con mayor riesgo, las organizaciones médicas pueden ofrecer atención preventiva de manera más efectiva.</p>
    <p>
    •	Predicción de abandono (Churn): Las empresas emplean la regresión logística para identificar a empleados o clientes que tienen un alto riesgo de dejar la organización. Esta información permite a los equipos de Recursos Humanos y Ventas implementar estrategias de retención proactivas, como abordar problemas de cultura, compensación o establecer planes para evitar la pérdida de ingresos.
    </p>
    <h1>Umbral de decisión</h1>
    <p>• Normalmente: si p ≥ 0.5 → Clase 1, si p < 0.5 → Clase 0.</p>
    <p></p>• El umbral se puede ajustar según el problema</p>

</body>
</html>