<!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width= <"nav class=" "navbar navbar-expand-lg bg-body-tertiary">
    <title>App Flask</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Wolcome to {{name}}</h1>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="nav-link dropdown-toggle" href="/Actividad3" role="button" data-bs-toggle="Actividad3" aria-expanded="false">
            Actividad3
          </a>
           <ul class="Actividad3">
            <li><a class="Actividad3" href="/Actividad3">1 Caso</a></li>
            <li><a class="Actividad3-item" href="#">2 caso</a></li>
            <li><hr class="Actividad3-divider"></li>
            <li><a class="Actividad3-item" href="#">3 Caso</a></li>
          </ul>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="#">Actividad 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Actividad 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</body>
</html>